<div>
  <p> You will now be re-directed to <a id="payu" href='https://www.Payu.in'>Payu</a> a certified and trusted payment gateway to complete this transaction.</p>
  <img src='/assets/store/payment_confidence.png'/>
  <p> Once the payment is complete, you will be brought back to our site and shown an order confirmation page with complete details about your order.</p>
  <p> Please click the "Confirm" button to proceed. </p>
</div>
<span>
<%= hidden_field_tag 'key', @order.payment_method.preferred_merchant_id %>
<%= hidden_field_tag 'txnid', @order.payment.source.transaction_id %>
<%= hidden_field_tag 'amount', @order.total.to_f %>
<%= hidden_field_tag 'productinfo', @order.number %>
<%= hidden_field_tag 'firstname', @order.bill_address.firstname %>
<%= hidden_field_tag 'email', @order.user.email %>
<%= hidden_field_tag 'phone', @order.bill_address.phone %>
<%= hidden_field_tag 'surl', "https://#{Spree::Config[:site_url]}#{gateway_payuin_callback_path}" %>
<%= hidden_field_tag 'furl', "https://#{Spree::Config[:site_url]}#{gateway_payuin_callback_path}" %>
<%= hidden_field_tag 'curl', "https://#{Spree::Config[:site_url]}#{gateway_payuin_callback_path}" %>
<%= hidden_field_tag 'hash', @order.payment.source.checksum %>
<%= hidden_field_tag 'drop_category', "EMI,COD,NB" %>
<%= hidden_field_tag 'touturl', "https://#{Spree::Config[:site_url]}/cart" %>


<%= submit_tag t(:confirm) %>

<script type="text/javascript">
  <% url =  @order.payment_method.preferred_url -%>
  $("form.edit_order").attr("action", "<%=url-%>")
  $("form.edit_order").attr("method", "post")
</script>

