<!-- Copyright 2013 ThoughtWorks, Inc. Licensed under the Apache License, Version 2.0. -->
<div class="row payment-flow-cont">
  <div data_hook="payuin_external_payment" class="ext-pay span9">
    <section class="bg">
      <h3><%= t("flow_title.#{@order.state}")%></h3>
      <div data_hook="payuin_external_payment_write_up">
        <p> You will now be redirected to <a id="payu" href='https://www.payu.in' target='blank'>PayU</a>, a certified and trusted payment gateway to complete this transaction.</p>
        <p data_hook="payuin_external_payment_confidence_image"><img src='/assets/spree_payuin/payment_confidence.png'/></p>
        <br/>
        <p> Once the payment is complete, you will be brought back to our site and shown an order confirmation page with complete details about your order.</p>
        <br/>
      </div>
      <div data-hook="payuin_external_payment_confirmation">
        <p> Please click the "Confirm" button to proceed. </p>
        <%= submit_tag t(:confirm_text),  :class => 'btn btn-main pull-right'%>
      </div>
    </section>
  </div>
  <span>
    <%= hidden_field_tag 'key', @order.payment_method.preferred_merchant_id %>
    <%= hidden_field_tag 'txnid', @order.payment.source.transaction_id %>
    <%= hidden_field_tag 'amount', @order.total.to_f %>
    <%= hidden_field_tag 'productinfo', @order.number %>
    <%= hidden_field_tag 'firstname', @order.bill_address.firstname %>
    <%= hidden_field_tag 'email', @order.user.email %>
    <%= hidden_field_tag 'phone', @order.bill_address.phone %>
    <%= hidden_field_tag 'surl', "https://#{Spree::Config[:site_url]}#{gateway_payuin_callback_path}" %>
    <%= hidden_field_tag 'furl', "https://#{Spree::Config[:site_url]}#{gateway_payuin_callback_path}" %>
    <%= hidden_field_tag 'curl', "https://#{Spree::Config[:site_url]}#{gateway_payuin_callback_path}" %>
    <%= hidden_field_tag 'hash', @order.payment.source.checksum %>
    <%= hidden_field_tag 'drop_category', "EMI" %>
    <%= hidden_field_tag 'touturl', "https://#{Spree::Config[:site_url]}/cart" %>

    <% address = @order.ship_address %>

    <%= hidden_field_tag 'shipping_firstname', address.firstname %>
    <%= hidden_field_tag 'shipping_lastname', address.lastname %>
    <%= hidden_field_tag 'shipping_address1', address.address1 %>
    <%= hidden_field_tag 'shipping_address2', "N/A" %>
    <%= hidden_field_tag 'shipping_city', address.city %>
    <%= hidden_field_tag 'shipping_state', address.state.abbr %>
    <%= hidden_field_tag 'shipping_country', address.country.name %>
    <%= hidden_field_tag 'shipping_zipcode', address.zipcode %>
    <%= hidden_field_tag 'shipping_phone', address.phone %>
    <%= hidden_field_tag 'shipping_phoneverified', "no" %>
  </span>
  <div data-hook="order_summary" class="span3 rightpanel">
  </div>
</div>
<%= javascript_tag do %>
  <% url =  @order.payment_method.preferred_url -%>
  $("form.edit_order").attr("action", "<%=url-%>")
  $("form.edit_order").attr("method", "post")
<% end %>
